@tailwind base;
@tailwind components;
@tailwind utilities;

.slip-left-to-right:hover::after{
    width: 100%;
}

.slip-left-to-right::after{
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: black;
    width: 0;
    border-radius: 4px;
    bottom: 0;
    transition: width .5s;
}

.slip-top-to-bottom{
    animation: slipTopToBottom 0.25s ease;
    
}

@keyframes slipTopToBottom{
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.menu-navbar:hover .menu-child-navbar{
    /* max-height: 200px; */
    display: block;
}

.menu-child-navbar{
    /* max-height: 0; */
    overflow: hidden;
    display: none;
    /* transition: max-height .5s ease; */
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

  .swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets{
    right:auto !important;
    left:auto !important;
  }

  input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}